# Frontend environment
dump

**/.env

frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.test
frontend/.env.production

# Backend environment
backend/.env
backend/.env.local
backend/.env.development
backend/.env.test
backend/.env.production

# Node modules
**/node_modules/

# Build directories
**/dist/
**/build/

# IDE files
.vscode/
.idea/

# Logs
**/logs
**/*.log

# Misc
.DS_Store
*.swp
*.swo